欢迎来到游戏大厅，{{this.userid}}
<div class="table-operations">
  <button nz-button (click)="showActive()">进行中</button>
  <button nz-button (click)="showEnd()">已结束</button>
</div>
<nz-table #basicTable [nzData]="myGames" [nzPageSize]="50" [nzScroll]="{ y: '600px' }">
  <thead>
  <tr>
    <th nzWidth="200px">对局名</th>
    <th nzWidth="200px"> 你的种族</th>
    <th nzWidth="200px">当前轮</th>
    <th nzWidth="200px">当前回合</th>
    <th nzWidth="200px">待行动玩家</th>
    <th nzWidth="200px">当前已等待时间</th>
    <th nzWidth="200px">管理操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data;index as i" [ngStyle]="{'background-color':data.bgcolor}">
    <td><a routerLink="/game/{{data.gameid}}">{{ data.gameid }}</a></td>
    <td>{{ data.race }}</td>
    <td>{{ data.round }}</td>
    <td>{{ data.turn }}</td>
    <td>{{ data.currentuserid }}</td>
    <td>{{ data.lasttime }}</td>
    <td>
      操作：
      <nz-divider nzType="vertical"></nz-divider>
     <div *ngIf="localStorage.getItem('current_user') === 'Panpan'||localStorage.getItem('current_user') === 'admin'||(data.authority === 'ok'&&!(this.activegame===false&&data.lasttime.length>=4))">
      <a (click)="showGameRecord(data.gameid)"> 更改游戏记录</a>
      <a (click)="showDeleteConfirm(data.gameid)"> 删除游戏</a></div>
      <div *ngIf="data.rollback === 'Y'">
        <a [id]="data.gameid" (click)="rollBack(data.gameid)"> 回退上一步操作</a></div>
    </td>
  </tr>
  </tbody>
</nz-table>
<!--<div *ngFor="let gameid of myGames">-->
<!--<nz-card style="width:300px;float: left" nzTitle="{{gameid}}" [nzExtra]="extraTemplate">-->
<!--  <p>{{gameid}}</p>-->
<!--  <p>Card content</p>-->
<!--  <button nz-button nzType="danger" (click)="deleteGame(gameid)">Delete</button>-->
<!--</nz-card>-->
<!--<ng-template #extraTemplate>-->
<!--  <a>More</a>-->
<!--</ng-template>-->
<!--</div>-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="游戏记录" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(this.gameid)">
    <div>
      <textarea rows="50"  nz-input [(ngModel)]="this.gr"></textarea>
    </div>
</nz-modal>
