<p>gaiamap {{gameid}}works!</p>
<h4>{{gamedetails.gamestate}}</h4>
<div *ngIf="gamedetails.gamerecord.length<9">
  <nz-radio-group>
    <label nz-radio-button id="human" [ngStyle]="{'color':'blue'}" [nzDisabled]="gamedetails.avarace[0]" (click)="chooserace(this.gameid,'choose race: 人类',0)" >人类</label>
    <label nz-radio-button [ngStyle]="{'color':'blue'}" [nzDisabled]="gamedetails.avarace[1]" (click)="chooserace(this.gameid,'choose race: 亚特兰斯星人',1)">亚特兰斯星人</label>
    <label nz-radio-button [ngStyle]="{'color':'red'}" [nzDisabled]="gamedetails.avarace[2]"  (click)="chooserace(this.gameid,'choose race: 圣禽族',2)">圣禽族</label>
    <label nz-radio-button [ngStyle]="{'color':'red'}" [nzDisabled]="gamedetails.avarace[3]"  (click)="chooserace(this.gameid,'choose race: 蜂人',3)">蜂人</label>
    <label nz-radio-button [ngStyle]="{'color':'orange'}" [nzDisabled]="gamedetails.avarace[4]"  (click)="chooserace(this.gameid,'choose race: 晶矿星人',4)">晶矿星人</label>
    <label nz-radio-button [ngStyle]="{'color':'orange'}" [nzDisabled]="gamedetails.avarace[5]"  (click)="chooserace(this.gameid,'choose race: 炽炎族',5)">炽炎族</label>
    <label nz-radio-button [ngStyle]="{'color':'gold'}" [nzDisabled]="gamedetails.avarace[6]"  (click)="chooserace(this.gameid,'choose race: 翼空族',6)">翼空族</label>
    <label nz-radio-button [ngStyle]="{'color':'gold'}" [nzDisabled]="gamedetails.avarace[7]"  (click)="chooserace(this.gameid,'choose race: 格伦星人',7)">格伦星人</label>
    <label nz-radio-button [ngStyle]="{'color':'brown'}" [nzDisabled]="gamedetails.avarace[8]"  (click)="chooserace(this.gameid,'choose race: 大使星人',8)">大使星人</label>
    <label nz-radio-button [ngStyle]="{'color':'brown'}" [nzDisabled]="gamedetails.avarace[9]"  (click)="chooserace(this.gameid,'choose race: 利爪族',9)">利爪族</label>
    <label nz-radio-button [ngStyle]="{'color':'grey'}" [nzDisabled]="gamedetails.avarace[10]"  (click)="chooserace(this.gameid,'choose race: 章鱼人',10)">章鱼人</label>
    <label nz-radio-button [ngStyle]="{'color':'grey'}" [nzDisabled]="gamedetails.avarace[11]"  (click)="chooserace(this.gameid,'choose race: 疯狂机器',11)">疯狂机器</label>
    <label nz-radio-button [ngStyle]="{'color':'#CCFFFF'}" [nzDisabled]="gamedetails.avarace[12]"  (click)="chooserace(this.gameid,'choose race: 伊塔星人',12)">伊塔星人</label>
    <label nz-radio-button [ngStyle]="{'color':'#CCFFFF'}" [nzDisabled]="gamedetails.avarace[13]"  (click)="chooserace(this.gameid,'choose race: 超星人',13)">超星人</label>
  </nz-radio-group>
</div>

<div style="width: 500px" *ngFor="let powerleech of gamedetails.powerleech">
  {{powerleech.receiverace}}决定是否从{{powerleech.giverace}}吸收{{powerleech.power}}点魔力({{powerleech.location}}升级为{{powerleech.structure}})
  <div *ngIf="user === powerleech.userid">
    <button nz-button nzType="primary" (click)="leechpower(this.gameid,powerleech.receiverace,powerleech.location,powerleech.structure,'1')">接受</button>
    <button nz-button nzType="danger" (click)="leechpower(this.gameid,powerleech.receiverace,powerleech.location,powerleech.structure,'0')">拒绝</button>
  </div>
</div>
<div *ngIf="gamedetails.gamerecord.length>=9">
<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input [(ngModel)]="action" type="text" nz-input placeholder="input search text" />
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="doaction(this.gameid,action)">行动！</button>
</ng-template>
</div>
<canvas id="myCanvas" width="2000" height="840" (mousedown)="click($event)"></canvas>
<div>
  <div id = "roundscore0"></div>
<div class="scoring" id="roundscore1">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R1</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[0]}}</font></div>
</div>
<div class="scoring" id="roundscore2">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R2</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[1]}}</font></div>
</div>
<div class="scoring" id="roundscore3">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R3</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[2]}}</font></div>
</div>
<div class="scoring" id="roundscore4">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R4</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[3]}}</font></div>
</div>
<div class="scoring" id="roundscore5">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R5</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[4]}}</font></div>
</div>
<div class="scoring" id="roundscore6">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R6</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[5]}}</font></div>
</div>
</div>
<div style="clear: both">
  <div *ngFor="let helptile of gamedetails.helptile">
  <div *ngIf="helptile[0]"  class="helptile" [ngStyle]="{'background':helptile[3]}" >
    <div style="text-align:center"><font size="3" color="black">{{helptile[0]}}</font></div>
    <br>
    <div style="text-align:center"><font size="3" color="black">{{helptile[1]}}</font></div>
    <div style="text-align:center"><font size="3" color="black">{{helptile[2]}}</font></div>
  </div>
  </div>
</div>
<nz-table #basicTable [nzData]="listOfData" nzSize="small">
  <thead>
  <tr>
    <th>等级</th>
    <th>地形改造</th>
    <th>航行</th>
    <th>量子智能</th>
    <th>盖亚计划</th>
    <th>经济</th>
    <th>科学</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data;index as i">
    <td>{{ data.dengji }}</td>
    <td><div *ngIf="i!=1&&i!=8&&i!=9">
      {{ data.terra }}</div>
      <div *ngIf="gamedetails.tt[6]=='ltt1: +4C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt2: +4PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt3: +1K,+1C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt4: +1O,+1PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt5: MG->3VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt6: 1TYPE1K'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt7: 7VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt8: SHAC4'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[6]=='ltt9: 1O,1Q'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>

      <div *ngIf="gamedetails.tt[12]=='ltt1: +4C'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt2: +4PW'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt3: +1K,+1C'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt4: +1O,+1PW'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt5: MG->3VP'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt6: 1TYPE1K'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt7: 7VP'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt8: SHAC4'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[12]=='ltt9: 1O,1Q'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>
      
      
      <div *ngIf="gamedetails.tt[0]=='att1: +3O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att2: +1Q,+5C'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att3: +3K'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att4: PASSRL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att5: PASSAL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att6: PASSTYPE1VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att7: M->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att8: TC->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att9: AT->2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att10: 1PLA2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att10.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att11: 1M2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att11.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att12: 1TC4VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att12.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att13: 1AL5VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att13.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att14: 1G2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att14.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[0]=='att15: 1PLA1O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att15.png" alt="" width="140" height="110">
      </div>
      <div style="float: right" *ngFor="let s of this.gamedetails.sciencegrade;index as j">
      <div *ngIf="s[0][i]" class="sciencebox" [ngStyle]="{'background':gamedetails.resource[j][9]}"></div>
      </div>
    </td>
    <td ><div *ngIf="i!=1&&i!=8&&i!=9">
      {{ data.navi }}</div>
      <div *ngIf="gamedetails.tt[7]=='ltt1: +4C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt2: +4PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt3: +1K,+1C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt4: +1O,+1PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt5: MG->3VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt6: 1TYPE1K'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt7: 7VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt8: SHAC4'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[7]=='ltt9: 1O,1Q'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>

      <div *ngIf="gamedetails.tt[13]=='ltt1: +4C'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt2: +4PW'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt3: +1K,+1C'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt4: +1O,+1PW'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt5: MG->3VP'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt6: 1TYPE1K'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt7: 7VP'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt8: SHAC4'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[13]=='ltt9: 1O,1Q'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att1: +3O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att2: +1Q,+5C'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att3: +3K'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att4: PASSRL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att5: PASSAL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att6: PASSTYPE1VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att7: M->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att8: TC->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att9: AT->2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att10: 1PLA2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att10.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att11: 1M2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att11.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att12: 1TC4VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att12.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att13: 1AL5VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att13.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att14: 1G2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att14.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[1]=='att15: 1PLA1O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att15.png" alt="" width="140" height="110">
      </div>
      <div style="float: right" *ngFor="let s of this.gamedetails.sciencegrade;index as j">
        <div *ngIf="s[1][i]" class="sciencebox" [ngStyle]="{'background':gamedetails.resource[j][9]}"></div>
      </div>
    </td>
    <td><div *ngIf="i!=1&&i!=8&&i!=9">
      {{ data.quan }}</div>
      <div *ngIf="gamedetails.tt[8]=='ltt1: +4C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt2: +4PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt3: +1K,+1C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt4: +1O,+1PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt5: MG->3VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt6: 1TYPE1K'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt7: 7VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt8: SHAC4'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[8]=='ltt9: 1O,1Q'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>

      <div *ngIf="gamedetails.tt[14]=='ltt1: +4C'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt2: +4PW'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt3: +1K,+1C'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt4: +1O,+1PW'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt5: MG->3VP'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt6: 1TYPE1K'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt7: 7VP'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt8: SHAC4'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[14]=='ltt9: 1O,1Q'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att1: +3O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att2: +1Q,+5C'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att3: +3K'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att4: PASSRL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att5: PASSAL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att6: PASSTYPE1VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att7: M->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att8: TC->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att9: AT->2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att10: 1PLA2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att10.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att11: 1M2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att11.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att12: 1TC4VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att12.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att13: 1AL5VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att13.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att14: 1G2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att14.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[2]=='att15: 1PLA1O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att15.png" alt="" width="140" height="110">
      </div>
      <div style="float: right" *ngFor="let s of this.gamedetails.sciencegrade;index as j">
        <div *ngIf="s[2][i]" class="sciencebox" [ngStyle]="{'background':gamedetails.resource[j][9]}"></div>
      </div>
    </td>
    <td ><div *ngIf="i!=1&&i!=8&&i!=9">
      {{ data.gaia }}</div>
      <div *ngIf="gamedetails.tt[9]=='ltt1: +4C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt2: +4PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt3: +1K,+1C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt4: +1O,+1PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt5: MG->3VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt6: 1TYPE1K'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt7: 7VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt8: SHAC4'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[9]=='ltt9: 1O,1Q'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>

     
      <div *ngIf="gamedetails.tt[3]=='att1: +3O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att2: +1Q,+5C'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att3: +3K'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att4: PASSRL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att5: PASSAL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att6: PASSTYPE1VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att7: M->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att8: TC->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att9: AT->2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att10: 1PLA2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att10.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att11: 1M2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att11.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att12: 1TC4VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att12.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att13: 1AL5VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att13.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att14: 1G2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att14.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[3]=='att15: 1PLA1O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att15.png" alt="" width="140" height="110">
      </div>
      <div style="float: right" *ngFor="let s of this.gamedetails.sciencegrade;index as j">
        <div *ngIf="s[3][i]" class="sciencebox" [ngStyle]="{'background':gamedetails.resource[j][9]}"></div>
      </div>
    </td>
    <td>
      <div *ngIf="i!=1&&i!=8&&i!=9">
      {{ data.eco }}</div>
      <div *ngIf="gamedetails.tt[10]=='ltt1: +4C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt2: +4PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt3: +1K,+1C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt4: +1O,+1PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt5: MG->3VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt6: 1TYPE1K'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt7: 7VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt8: SHAC4'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[10]=='ltt9: 1O,1Q'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>

      <div *ngIf="gamedetails.tt[15]=='终局计分1:总建筑数量最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[15]=='终局计分2:城市内总建筑最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[15]=='终局计分3:建筑地形最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[15]=='终局计分4:盖亚星球最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[15]=='终局计分5:所处星域最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[15]=='终局计分6:连接卫星最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf6.png" alt="" width="140" height="110">
      </div>


      <div *ngIf="gamedetails.tt[4]=='att1: +3O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att2: +1Q,+5C'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att3: +3K'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att4: PASSRL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att5: PASSAL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att6: PASSTYPE1VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att7: M->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att8: TC->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att9: AT->2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att10: 1PLA2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att10.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att11: 1M2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att11.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att12: 1TC4VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att12.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att13: 1AL5VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att13.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att14: 1G2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att14.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[4]=='att15: 1PLA1O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att15.png" alt="" width="140" height="110">
      </div>
      <div style="float: right" *ngFor="let s of this.gamedetails.sciencegrade;index as j">
        <div *ngIf="s[4][i]" class="sciencebox" [ngStyle]="{'background':gamedetails.resource[j][9]}"></div>
      </div>
    </td>
    <td ><div *ngIf="i!=1&&i!=8&&i!=9">
      {{ data.sci }}</div>
      <div *ngIf="gamedetails.tt[11]=='ltt1: +4C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt2: +4PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt3: +1K,+1C'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt4: +1O,+1PW'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt5: MG->3VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt6: 1TYPE1K'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt7: 7VP'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt8: SHAC4'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[11]=='ltt9: 1O,1Q'&&i==8">
        <img class="mb-4" src="../../../assets/techtiles/ltt9.png" alt="" width="140" height="110">
      </div>

      <div *ngIf="gamedetails.tt[16]=='终局计分1:总建筑数量最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[16]=='终局计分2:城市内总建筑最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[16]=='终局计分3:建筑地形最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[16]=='终局计分4:盖亚星球最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[16]=='终局计分5:所处星域最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[16]=='终局计分6:连接卫星最多'&&i==9">
        <img class="mb-4" src="../../../assets/techtiles/zjjf6.png" alt="" width="140" height="110">
      </div>

      <div *ngIf="gamedetails.tt[5]=='att1: +3O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att1.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att2: +1Q,+5C'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att2.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att3: +3K'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att3.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att4: PASSRL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att4.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att5: PASSAL3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att5.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att6: PASSTYPE1VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att6.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att7: M->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att7.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att8: TC->3VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att8.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att9: AT->2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att9.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att10: 1PLA2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att10.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att11: 1M2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att11.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att12: 1TC4VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att12.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att13: 1AL5VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att13.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att14: 1G2VP'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att14.png" alt="" width="140" height="110">
      </div>
      <div *ngIf="gamedetails.tt[5]=='att15: 1PLA1O'&&i==1">
        <img class="mb-4" src="../../../assets/techtiles/att15.png" alt="" width="140" height="110">
      </div>
      <div style="float: right" *ngFor="let s of this.gamedetails.sciencegrade;index as j">
        <div *ngIf="s[5][i]" class="sciencebox" [ngStyle]="{'background':gamedetails.resource[j][9]}"></div>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<div *ngFor="let r of this.gamedetails.resource">
<div class="faction-board">
  <div style="float: left; margin-right: 20px;">
  <div [ngStyle]="{'background-color':r[9]}" style="padding: 1px 1px 1px 5px;color: #000;text-align: left" ><span>{{r[1]}}({{r[0]}}){{r[10]}}</span></div>
  <div class="faction-info">
    <div><span>{{r[2]}} <img class="mb-4" src="../../../assets/ore.png" alt="" width="14" height="14"> ,{{r[3]}}  <img class="mb-4" src="../../../assets/coin.png" alt="" width="14" height="14"> ,{{r[4]}} <img class="mb-4" src="../../../assets/knowledge.png" alt="" width="14" height="14"> ,{{r[5]}} Q ,{{r[11]}} VP ,{{r[6]}}/{{r[7]}}/{{r[8]}} PW ,0/0 GTU</span></div>
    <table class="building-table">
      <tr>
        <td>M</td>
        <td>TC</td>
        <td>RL</td>
        <td>SH</td>
        <td>AC1</td>
        <td>AC2</td>
      </tr>
      <tr>
        <td>0/8</td>
        <td>0/4</td>
        <td>0/3</td>
        <td>0/1</td>
        <td>0/1</td>
        <td>0/1</td>
      </tr>
    </table>
    <table class="income-table">
      <tr>
      <td>收入：</td>
      <td>0 O</td>
      <td>0 C</td>
      <td>0 K</td>
      <td>0 Q</td>
      <td>0 PW</td>
      <td>0 PWB</td>
      </tr>
    </table>
  </div>
  </div>
</div>
</div>

<div style="clear: both" *ngFor="let record of gamedetails.gamerecord">
  <h4>
    {{record}}
  </h4>
</div>

