<p>gaiamap {{gameid}}works!</p>
<h4>{{gamedetails.gamestate}}</h4>
<div *ngIf="gamedetails.gamerecord.length<9">
  <nz-radio-group>
    <label nz-radio-button id="human" [ngStyle]="{'color':'blue'}" [nzDisabled]="gamedetails.avarace[0]" (click)="chooserace(this.gameid,'choose race: 人类')" >人类</label>
    <label nz-radio-button [ngStyle]="{'color':'blue'}" [nzDisabled]="gamedetails.avarace[1]" (click)="chooserace(this.gameid,'choose race: 亚特兰斯星人')">亚特兰斯星人</label>
    <label nz-radio-button [ngStyle]="{'color':'red'}" [nzDisabled]="gamedetails.avarace[2]"  (click)="chooserace(this.gameid,'choose race: 圣禽族')">圣禽族</label>
    <label nz-radio-button [ngStyle]="{'color':'red'}" [nzDisabled]="gamedetails.avarace[3]"  (click)="chooserace(this.gameid,'choose race: 蜂人')">蜂人</label>
    <label nz-radio-button [ngStyle]="{'color':'orange'}" [nzDisabled]="gamedetails.avarace[4]"  (click)="chooserace(this.gameid,'choose race: 晶矿星人')">晶矿星人</label>
    <label nz-radio-button [ngStyle]="{'color':'orange'}" [nzDisabled]="gamedetails.avarace[5]"  (click)="chooserace(this.gameid,'choose race: 炽炎族')">炽炎族</label>
    <label nz-radio-button [ngStyle]="{'color':'gold'}" [nzDisabled]="gamedetails.avarace[6]"  (click)="chooserace(this.gameid,'choose race: 翼空族')">翼空族</label>
    <label nz-radio-button [ngStyle]="{'color':'gold'}" [nzDisabled]="gamedetails.avarace[7]"  (click)="chooserace(this.gameid,'choose race: 格伦星人')">格伦星人</label>
    <label nz-radio-button [ngStyle]="{'color':'brown'}" [nzDisabled]="gamedetails.avarace[8]"  (click)="chooserace(this.gameid,'choose race: 大使星人')">大使星人</label>
    <label nz-radio-button [ngStyle]="{'color':'brown'}" [nzDisabled]="gamedetails.avarace[9]"  (click)="chooserace(this.gameid,'choose race: 利爪族')">利爪族</label>
    <label nz-radio-button [ngStyle]="{'color':'grey'}" [nzDisabled]="gamedetails.avarace[10]"  (click)="chooserace(this.gameid,'choose race: 章鱼人')">章鱼人</label>
    <label nz-radio-button [ngStyle]="{'color':'grey'}" [nzDisabled]="gamedetails.avarace[11]"  (click)="chooserace(this.gameid,'choose race: 疯狂机器')">疯狂机器</label>
    <label nz-radio-button [ngStyle]="{'color':'#CCFFFF'}" [nzDisabled]="gamedetails.avarace[12]"  (click)="chooserace(this.gameid,'choose race: 伊塔星人')">伊塔星人</label>
    <label nz-radio-button [ngStyle]="{'color':'#CCFFFF'}" [nzDisabled]="gamedetails.avarace[13]"  (click)="chooserace(this.gameid,'choose race: 超星人')">超星人</label>
  </nz-radio-group>
</div>
<div *ngIf="gamedetails.gamerecord.length>=9">
<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input [(ngModel)]="action" type="text" nz-input placeholder="input search text" />
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="doaction(this.gameid,action)">行动！</button>
</ng-template>
</div>
<canvas id="myCanvas" width="2000" height="840"></canvas>
<div>
<div class="scoring">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R1</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[0]}}</font></div>
</div>
<div class="scoring">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R2</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[1]}}</font></div>
</div>
<div class="scoring">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R3</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[2]}}</font></div>
</div>
<div class="scoring">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R4</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[3]}}</font></div>
</div>
<div class="scoring">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R5</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[4]}}</font></div>
</div>
<div class="scoring">
  <div style="float: right; border-style: solid; border-width: 2px;"><font size="1.5" color="#5f9ea0">R6</font></div>
  <br><br>
  <div style="text-align:center"><font size="3" color="black">{{gamedetails.roundscore[5]}}</font></div>
</div>
</div>
<div style="clear: both">
  <div *ngFor="let helptile of gamedetails.helptile">
  <div *ngIf="helptile[0]"  class="helptile">
    <div style="text-align:center"><font size="3" color="black">{{helptile[0]}}</font></div>
    <br>
    <div style="text-align:center"><font size="3" color="black">{{helptile[1]}}</font></div>
    <div style="text-align:center"><font size="3" color="black">{{helptile[2]}}</font></div>
  </div>
  </div>
</div>

<nz-table #basicTable [nzData]="listOfData" nzSize="small">
  <thead>
  <tr>
    <th>等级<!--<ngif!!!!!div class="redbox"></div>--></th>
    <th>地形改造</th>
    <th>航行</th>
    <th>量子智能</th>
    <th>盖亚计划</th>
    <th>经济</th>
    <th>科学</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data;index as i">
    <td>{{ data.dengji }}</td>
    <td>{{ data.terra }}</td>
    <td >{{ data.navi }}</td>
    <td>{{ data.quan }}</td>
    <td >{{ data.gaia }}</td>
    <td>{{ data.eco }}</td>
    <td >{{ data.sci }}</td>
  </tr>
  </tbody>
</nz-table>
<div *ngFor="let r of this.gamedetails.resource">
<div class="faction-board">
  <div style="float: left; margin-right: 20px;">
  <div [ngStyle]="{'background-color':r[9]}" style="padding: 1px 1px 1px 5px;color: #000;text-align: left" ><span>{{r[1]}}({{r[0]}})</span></div>
  <div class="faction-info">
    <div><span>{{r[2]}} <img class="mb-4" src="../../../assets/ore.png" alt="" width="14" height="14"> ,{{r[3]}}  <img class="mb-4" src="../../../assets/coin.png" alt="" width="14" height="14"> ,{{r[4]}} <img class="mb-4" src="../../../assets/knowledge.png" alt="" width="14" height="14"> ,{{r[5]}} Q ,20 VP ,0/0/0 PW ,0/0 GTU</span></div>
    <table class="building-table">
      <tr>
        <td>M</td>
        <td>TC</td>
        <td>RL</td>
        <td>SH</td>
        <td>AC1</td>
        <td>AC2</td>
      </tr>
      <tr>
        <td>0/8</td>
        <td>0/4</td>
        <td>0/3</td>
        <td>0/1</td>
        <td>0/1</td>
        <td>0/1</td>
      </tr>
    </table>
    <table class="income-table">
      <tr>
      <td>收入：</td>
      <td>0 O</td>
      <td>0 C</td>
      <td>0 K</td>
      <td>0 Q</td>
      <td>0 PW</td>
      <td>0 PWB</td>
      </tr>
    </table>
  </div>
  </div>
</div>
</div>

<div style="clear: both" *ngFor="let record of gamedetails.gamerecord">
  <h4>
    {{record}}
  </h4>
</div>

