

<p>1.0平衡补丁：量子智能登顶时额外因每个所持有的Q获得1VP.</p>
<p>ATT1:行动获得3O改为4O.
ATT2:行动获得1Q5C改为1Q7C.</p>
<p>ATT3:行动获得3K改为4K.
ATT15:重做，重做，改为PASS->1星域1VP.</p>
<p>平衡方式：
随机顺位：随机1-4位直接开始选族</p>
<p>第二价格竞拍：每次未拍得顺位的玩家输入一个自然数，所有竞拍玩家输入后同时显示拍卖分数，叫分最高的玩家扣叫分第二高玩家的叫分+1，输入1或2或3或4选择开始顺位.未拍得玩家进行新一轮拍卖（共三轮），如最高分相同，随机选择拍得玩家，拍卖完后从1号位开始选族。
</p><p>旋转地图：四位输入1表示1号星域旋转1下，输入ok表示旋转完成。</p>
<p>单人模式：player1输入自己名字，2，3，4分别输入测试1、测试2与测试3，进行1控4游戏.</p>

<!--<p>建造矿场： build A7  升级贸易站： upgrade B7 to tc</p>
<p>升级要塞： upgrade C7 to sh  升级科技： advance ship</p>
<p>改造：terra，航行：ship，量子：q，盖亚：gaia，经济：eco，科学：sci</p>
<p>升级实验室（rl）、大学院（ac）:upgrade D7 to rl advance ship +ltt5</p>
<p>upgrade D7 to rl advance ship +att6 -ltt7</p>
<p>魔力行动：action1 ltt2: actionltt2  ac2: actionac2</p>
<p>actionbon1/bon2 build A1  action2 build E7  action9 town1  action10 advance shipA10 +att4. -ltt6</p>
<p>建造城市：form G2 G3 H3 I2 J3 K4 L3 K5 L2 M1 L5 M5 N5,+town6</p>
<p>人类： +1o.+2c. 伊塔星人： +ltt1 advance ship.+att2 -ltt7 advance eco/+pass/+pass2</p>
<p>大使星人：actiond G2 M7  章鱼人：actionz K6 advance terra 疯狂机器：actionm advance terra</p>
<p>快速行动： convert 3pw to 1o</p>
<p>爆豆： convert burnX pass：pass bon1</p>-->
<p></p>
<img  class="mb-8" src="../../../assets/info.jpg" alt="" width="800" height="400">
<img  class="mb-8" src="../../../assets/zidian.png" alt="" width="580" height="400">
<img class="mb-8" src="../../../assets/ex.jpg" alt="" width="580" height="400">

