<p>当前平衡版本：1.0f</p>
<img class="mb-8" src="../../../assets/races/R1.JPG" alt="" width="720" height="500">
<p>人类</p>
<p>最高分记录：{{this.top[0][0]}}  记录保持者：{{this.top[0][1]}} 创造对局：{{this.top[0][2]}}</p>
<p>最低分记录：{{this.top[14][0]}}  记录保持者：{{this.top[14][1]}} 创造对局：{{this.top[14][2]}}</p>
<img class="mb-8" src="../../../assets/races/R2.JPG" alt="" width="720" height="500">
<p>
  亚特兰斯星人：
  初始魔力池魔力豆从4/0/0改为2/2/0.
  第三个矿场收入1O.起始金钱变为15C.</p>
<p>最高分记录：{{this.top[1][0]}}  记录保持者：{{this.top[1][1]}} 创造对局：{{this.top[1][2]}}</p>
<p>最低分记录：{{this.top[15][0]}}  记录保持者：{{this.top[15][1]}} 创造对局：{{this.top[15][2]}}</p>
<img class="mb-8" src="../../../assets/races/R3.JPG" alt="" width="720" height="500">
<p>蜂人:
  现在要塞收入4PW减少为2PW.
</p>
<p>最高分记录：{{this.top[3][0]}}  记录保持者：{{this.top[3][1]}} 创造对局：{{this.top[3][2]}}</p>
<p>最低分记录：{{this.top[17][0]}}  记录保持者：{{this.top[17][1]}} 创造对局：{{this.top[17][2]}}</p>
<img class="mb-8" src="../../../assets/races/R4.JPG" alt="" width="720" height="500">
<p>圣禽族：要塞收入将+4PW改为+5C</p>
<p>最高分记录：{{this.top[2][0]}}  记录保持者：{{this.top[2][1]}} 创造对局：{{this.top[2][2]}}</p>
<p>最低分记录：{{this.top[16][0]}}  记录保持者：{{this.top[16][1]}} 创造对局：{{this.top[16][2]}}</p>
<img class="mb-8" src="../../../assets/races/R5.JPG" alt="" width="720" height="500">
<p>晶矿星人：
  起始资源减少1O.
   默认收入从1O变为2O.</p>
<p>最高分记录：{{this.top[4][0]}}  记录保持者：{{this.top[4][1]}} 创造对局：{{this.top[4][2]}}</p>
<p>最低分记录：{{this.top[18][0]}}  记录保持者：{{this.top[18][1]}} 创造对局：{{this.top[18][2]}}</p>
<img class="mb-8" src="../../../assets/races/R6.JPG" alt="" width="720" height="500">
<p>炽炎族：
起始资源增加1Q.</p>
<p>最高分记录：{{this.top[5][0]}}  记录保持者：{{this.top[5][1]}} 创造对局：{{this.top[5][2]}}</p>
<p>最低分记录：{{this.top[19][0]}}  记录保持者：{{this.top[19][1]}} 创造对局：{{this.top[19][2]}}</p>
<img class="mb-8" src="../../../assets/races/R7.JPG" alt="" width="720" height="500">
<p>异空族：
  起始魔力豆从2/4/0变为4/4/0.
  起始资源增加5C.</p>
<p>最高分记录：{{this.top[6][0]}}  记录保持者：{{this.top[6][1]}} 创造对局：{{this.top[6][2]}}</p>
<p>最低分记录：{{this.top[20][0]}}  记录保持者：{{this.top[20][1]}} 创造对局：{{this.top[20][2]}}</p>
<img class="mb-8" src="../../../assets/races/R8.JPG" alt="" width="720" height="500">
<p>格伦星人：
种族技能上绿星2VP改为3VP.
起始资源增加1K.
现在要塞城片提供4VP.</p>
<p>最高分记录：{{this.top[7][0]}}  记录保持者：{{this.top[7][1]}} 创造对局：{{this.top[7][2]}}</p>
<p>最低分记录：{{this.top[21][0]}}  记录保持者：{{this.top[21][1]}} 创造对局：{{this.top[21][2]}}</p>
<img class="mb-8" src="../../../assets/races/R9.JPG" alt="" width="720" height="500">
<p>大使星人</p>
<p>最高分记录：{{this.top[8][0]}}  记录保持者：{{this.top[8][1]}} 创造对局：{{this.top[8][2]}}</p>
<p>最低分记录：{{this.top[22][0]}}  记录保持者：{{this.top[22][1]}} 创造对局：{{this.top[22][2]}}</p>
<img class="mb-8" src="../../../assets/races/R10.JPG" alt="" width="720" height="500">
<p>利爪族：起始魔力豆从3/4/0变为4/2/0.</p>
<p>最高分记录：{{this.top[9][0]}}  记录保持者：{{this.top[9][1]}} 创造对局：{{this.top[9][2]}}</p>
<p>最低分记录：{{this.top[23][0]}}  记录保持者：{{this.top[23][1]}} 创造对局：{{this.top[23][2]}}</p>
<img class="mb-8" src="../../../assets/races/R11.JPG" alt="" width="720" height="500">
<p>章鱼人</p>
<p>起始资源增加1O.</p>
<p>最高分记录：{{this.top[10][0]}}  记录保持者：{{this.top[10][1]}} 创造对局：{{this.top[10][2]}}</p>
<p>最低分记录：{{this.top[24][0]}}  记录保持者：{{this.top[24][1]}} 创造对局：{{this.top[24][2]}}</p>
<img class="mb-8" src="../../../assets/races/R12.JPG" alt="" width="720" height="500">
<p>
  疯狂机器：
  默认收入1K.</p>
<p>最高分记录：{{this.top[11][0]}}  记录保持者：{{this.top[11][1]}} 创造对局：{{this.top[11][2]}}</p>
<p>最低分记录：{{this.top[25][0]}}  记录保持者：{{this.top[25][1]}} 创造对局：{{this.top[25][2]}}</p>
<img class="mb-8" src="../../../assets/races/R13.JPG" alt="" width="720" height="500">
<p>伊塔星人：
初始工人减少一点.初始魔力池魔力豆从4/4/0改为3/4/0.</p>
<p>最高分记录：{{this.top[12][0]}}  记录保持者：{{this.top[12][1]}} 创造对局：{{this.top[12][2]}}</p>
<p>最低分记录：{{this.top[26][0]}}  记录保持者：{{this.top[26][1]}} 创造对局：{{this.top[26][2]}}</p>
<img class="mb-8" src="../../../assets/races/R14.JPG" alt="" width="720" height="500">
<p>超星人</p>
<p>最高分记录：{{this.top[13][0]}}  记录保持者：{{this.top[13][1]}} 创造对局：{{this.top[13][2]}}</p>
<p>最低分记录：{{this.top[27][0]}}  记录保持者：{{this.top[27][1]}} 创造对局：{{this.top[27][2]}}</p>
<img class="mb-8" src="../../../assets/races/Darkling.jpg" alt="" width="1000" height="500">




